<h1>All Loan Offers:</h1>

<% @loan_offers.each do |off| %>
<div class="off-<%= off.id %>">
	Loan offer # <%= off.id %><br>
	Amount: <%= off.amount %><br>
	Interest Rate: <%= off.rate %><br>
	Term: <%= off.term %><br>
	<div class="btn"><%= link_to "Add To Cart", cart_items_path(class: off.class, item_id: off.id), method: 'post' %></div>
</div>
<% end %>