<div class="container">
	<div class="row user-dashboard">
		<h1>Hello, <%= @user.first_name %></h1>
		<div class="col-md-4 stats">
			<table class="table table-striped table-bordered">
				<tr>
					<td><b>Loan Offerings</b></td>
					<td><b>#</b></td>
				</tr>
				<tr>
					<td>Outstanding Loan Offerings</td>
					<td><%= @user.loans_count("offers") %></td>
				</tr>
				<tr>
					<td>Approved Loan Offerings</td>
					<td><%= @user.approved_loans_count("offers") %></td>
				</tr>
				<tr>
					<td>Total Invested in Loan Offerings</td>
					<td><%= number_to_currency(@user.investment("offers")) %></td>
				</tr>
			<tr>
				<td colspan="2"></td>
			</tr>
				<tr>
					<td>
						<b>Loan Requests</b>
					</td>
					<td>
						<b>#</b>
					</td>
				</tr>
				<tr>
					<td>Outstanding Loan Requests</td>
					<td><%= @user.loans_count("requests") %></td>
				</tr>
				<tr>
					<td>Approved Loan Requests</td>
					<td><%= @user.approved_loans_count("requests") %></td>
				</tr>
				<tr>
					<td>Total Owed in Loan Requests</td>
					<td><%= number_to_currency(@user.investment("requests")) %></td>
				</tr>
				<tr>
					<td colspan="2s">
					</td>
				</tr>
				<tr>
					<td><b>Portfolio Net Worth</b></td>
					<td><b><%= number_to_currency(@user.net_worth) %></b></td>
				</tr>
			</table>
		</div>
		<div class="col-md-3 user-menu">
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="#">Edit My Profile</a></li>
					<li role="presentation"><%= link_to "Create a Loan Offer", new_loan_offer_path %></li>
					<li role="presentation"><%= link_to "Create a Loan Request", new_loan_request_path %></li>
					<li role="presentation"><%= link_to "View My Loan Offers", user_loan_offers_path(@user.username) %></li>
					<li role="presentation"><%= link_to "View My Loan Requests", user_loan_requests_path(@user.username) %></li>
					<li role="presentation"><%= link_to "View My Contracts", user_contracts_path(@user.username) %></li>
					<li role="presentation"><%= button_to "Deactivate Account", user_path(@user), method: :delete %></li>
				</ul>
			</nav>
		</div>
		<div class="col-md-3 user-menu">
		</div>
	</div>
</div>
