<h1>All Loan Requests:</h1>

<% @loan_requests.each do |req| %>
<div class="req-<%= req.id %>">
	Loan Request # <%= req.id %><br>
	Amount: <%= req.amount %><br>
	Max Interest Rate: <%= req.max_int_rate %><br>
	<%= button_to "Add to Cart", cart_items_path(item_id: req.id), class:"btn" %><br>
</div>
<% end %>