<div class="cart">
	<div class="container">
		<h1>My Cart:</h1>
		<div class="row">
			<div class="col-md-4 cart-items cart-box">
				<table class="table table-striped table-hover">
					<h3>Loan Requests (<%= @cart.requests_count %>)</h3>

					<% @items[0].each do |item| %>
					<tr>
						<td>
							<div class="cart-header">
								<div class="cart-item-info">
									<h4>Loan Request ID #<%= item.id %></h4>
									Requested by: <%= link_to item.user.username, "/#{item.user.username}/loan_requests/" %>
									<%= button_to "X", cart_item_path(item), class: "btn btn-warning btn-xs remove-from-cart", method: :delete, params: {item_class: "request"} %>
								</div>
								<p>Loan Amount: <%= number_to_currency(item.amount) %></p>
								<p>Rate: <%= item.rate %>% </p>
								<p>Term: <%= item.term %> Months</p>
							</div>
						</td>
					</tr>
					<% end %>
				</table>
			</div>
			<div class="col-md-4 cart-items cart-box">
				<table class="table table-striped table-hover">
					<h3>Loan Offers (<%= @cart.offers_count %>)</h3>

					<% @items[1].each do |item| %>
					<tr><td>
						<div class="cart-header">
							<div class="cart-item-info">
								<h4>Loan Offer ID #<%= item.id %></h4>
								Offered by: <%= link_to item.user.username, "/#{item.user.username}/loan_offers/" %>
								<%= button_to "X", cart_item_path(item), class: "btn btn-warning btn-xs remove-from-cart", method: :delete, params: {item_class: "offer"} %>
							</div>
							<p>Loan Amount: <%= number_to_currency(item.amount) %></p>
							<p>Rate: <%= item.rate %>% </p>
							<p>Term: <%= item.term %> Months</p>
						</div>
					</td>
				</tr>
				<% end %>
			</table>
		</div>

		<div class="col-md-4 total-box">
			<div class="cart-total">
				<div class="price-details">
					<h3>Price Details</h3>
					<span><%= @cart.requests_count %> Loan Requests</span><br>
					<span><%= @cart.offers_count %> Loan Offers</span>
					<div class="clearfix"></div>
				</div>
				<span class="total final">
					<h4 class="last-price">TOTAL:</h4>
					<h4 class="last-price"><%= number_to_currency(@cart.req_price) %> in <%= pluralize(@cart.requests_count, "loan request") %></h4>
					<h4 class="last-price"><%= number_to_currency(@cart.off_price) %> in <%= pluralize(@cart.offers_count, "loan offer") %></h4>
					<div class="clearfix"></div>
				</span>

				<% if current_user %>
				<% unless @cart.contents[:requests].empty? && @cart.contents[:offers].empty? %>
				<%= button_to "Place Order", new_contract_path, class: "contract", method: "get" %>
				<% end %>
				<% else %>
				<%= button_to "Login to Checkout", login_path, method: :get, class:"contract" %>
				<% end %>

			</div>
		</div>


	</div>
</div></div>
