<div class="cart">
  <div class="container">
    <div class="cart-top">
      <h1>Welcome Administrator: <%= @user.first_name %></h1>
    </div>
    <div class="cart-conclusion">
      <table width="100%">
        <tr>
          <th>
          Admin Dashboard
          </th>
        </tr>
        <tr>
          <td>
            <%= link_to "View All Loan Requests", loan_requests_path %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "View All Loan Offers", loan_offers_path %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "View All Users", users_path %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "Company News - Coming Soon!", "#" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "Training - Coming Soon!", "#" %>
          </td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
  </div>
</div>
