<!DOCTYPE html>
<html>
<head>
  <%= render partial: "shared/head" %>
</head>
<body>
  <div class="wrapper">
    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: "alert alert-#{type}" %>
    <% end %>
    <%= render partial: "shared/navbar"%>
    <%= yield %>
    <%= render partial: "shared/footer" %>
    <%= render partial: "shared/bscript" %>
  </div>

</body>
</html>
